/* DataSourceEntry */

.Entry {
  display: flex;
  align-items: center;
}

.Entry_poster {
  height: 48px;
  width: 32px;
  box-shadow: 0px 1px 4px #999;
  background-color: #ccc;
}

.Entry_poster img {
  height: 48px;
  width: 32px;
}

.Entry_text {
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
}

.Entry_title {
  font-size: 1.2rem;
}

.Entry_year {
  color: gray;
}

/* MovieDetails */

.Details {
  display: flex;
  margin: 1rem 0;
}

.Details_poster {
  width: 185px;
  height: 278px;
  box-shadow: 0px 1px 4px #999;
  background-color: #ccc;
}

.Details_info {
  margin-left: 1rem;
}

.Details_title {
  font-weight: bold;
  font-size: 1.2rem;
}

.Details_year {
  font-weight: normal;
  color: gray;
}

/* MoviesList */

.List {
  list-style: none;
}

.List_item {
  display: flex;
  margin: 1rem 0;
}

.List_poster {
  height: 48px;
  width: 32px;
  box-shadow: 0px 1px 4px #999;
  background-color: #ccc;
}

.List_poster img {
  height: 48px;
  width: 32px;
}

.List_info {
  margin-left: 1rem;
}

.List_title {
  font-weight: bold;
  font-size: 1.2rem;
}

.List_year {
  font-weight: normal;
  color: gray;
}

.List_score {
  margin: 0;
}

.List_clear {
  padding: 5px 10px;
  position: absolute;
  margin: auto;
  right: 10px;
  top: 20%;
  bottom: 20%;
}

.Container {
  position: relative;
}
