.Entry {
  display: flex;
  align-items: center;
}

.Poster {
  height: 3rem;
  width: 2rem;
  background-color: #ccc;
}

.Poster img {
  height: 3rem;
  width: 2rem;
  border: 1px solid #ccc;
}

.Text {
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
}

.Title {
  font-size: 1.2rem;
}

.Year {
  color: gray;
}
