.Typeahead_wrapper {
  position: relative;
  width: 100%;
}

.Typeahead_input {
  font-size: inherit;
  width: 100%;
  -webkit-appearance: none;
}

.Typeahead_hintText {
  background: transparent;
  border-color: transparent;
  font-size: inherit;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-appearance: none;
}

.Typeahead_resultList {
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}
