.App {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

.Nav {
  color: #999;
  background: #eee;
}

.Nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.Nav li {
  padding: 10px;
}

.Nav a:hover {
  text-decoration: underline;
}

.Selected {
  color: #000;
}

.Select {
  border-color: #ccc;
  box-sizing: border-box;
  margin-left: 1rem;
}

.Select:focus {
  border-color: #39c;
  outline: none;
}
