.App {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

.Nav {
  color: #999;
  background: #eee;
}

.Nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.Nav li {
  padding: 1rem 0.5rem;
}

.Nav a:hover {
  text-decoration: underline;
}

.Selected {
  color: #000;
}
