.Main {
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

.Nav {
  color: #999;
  background: #eee;
}

.Nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.Nav li {
  padding: 1rem 0.5rem;
}

.Nav a:hover {
  text-decoration: underline;
}

.Nav a.selected {
  color: #000;
}

/* --- */

.Typeahead_input,
.Typeahead_hintText {
  border: 1px solid #ccc;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.Typeahead_input:focus {
  border-color: #39c;
  outline: none;
}

.Typeahead_input:focus + .Typeahead_resultList {
  border-color: #39c;
  border-top-color: #ddd;
}

.Typeahead_input_selected {
  border-color: #39c;
  background-color: #def;
}

.Typeahead_resultList {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #ddd;
}

.Typeahead_result {
  padding: 0.5rem 1rem;
}

.Typeahead_result_highlighted {
  background-color: #eee;
}
